[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
jupyterlab = "*"
numpy = "*"
qrcode = "*"
matplotlib = "*"
torch = "*"
torchvision = "*"
keras = "*"
tensorflow = "*"
tensorflow-metal = "*"

[dev-packages]

[requires]
python_version = "3.9"
